* {
   /* border: solid red; */
   font-family: 'Fira Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    margin: 0;
    padding: 0;
    color: white;
}

p {
    padding: 0;
    margin: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    height: 50px;
    width: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6730EC;
    margin: 0;
    padding: 5px 10px 5px 10px;
    height: 50px;
}

.about-img {
    height: 250px;
    width: auto;
    margin: 20px;
}

.about {
    display: flex;
    height: 300px;
    justify-content: space-around;
    align-items: center;
}