* {
   /* border: solid red; */
   font-family: 'Fira Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    margin: 0;
    padding: 0;
    color: white;
}

p {
    padding: 0;
    margin: 0;
    max-width: 800px;
    color: white ;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo-img {
    height: 50px;
    width: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6730EC;
    margin: 0;
    padding: 5px 10px 5px 10px;
    min-height: 50px;
    border-bottom: 3px dotted white;
}

.about-img {
    height: 250px;
    width: auto;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.about {
    display: flex;
    min-height: 300px;
    justify-content: space-around;
    align-items: center;
    background-color: #6730EC;
    flex-wrap: wrap;
    border-bottom: 3px dotted white;
}

.container-2 {
    text-align: center;
    background-color: #A9D2FF;
    border-top: 3px dotted white;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px 20px 20px;
}

.card-img {
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}